/* CSS reset */
* { 
    box-sizing: border-box;
	margin:0;
	padding:0;
    border: 1px solid rgb(238, 5, 5);
    max-width: 100%; 
}

/*General Styles*/
html {
    font-size:62.5%;
}
body{
	font-size:1.6rem;
	font-family: 'Permanent Marker', cursive;
	background-color:ivory;
}
/*Header Section Styles*/
header{
	background-color: grey;
}
h1 {
	font-size:4rem;
	padding:1%;
}

h2 {
	font-size:2.5rem;
}
nav {
	display:flex;
	flex-flow: row;
	width:45%;
	padding:1%;
}

nav a {
	padding:1%;
	width: 15%;
	text-align:center;
	align-content: center;
	text-decoration:none;
	background-color: honeydew;
	border: 1px solid black;
}
.home {
	padding:1%;
	width: 15%;
	text-align:center;
	align-content: center;
	text-decoration:none;
	background-color:black;
	color:white;
	border: 1px solid black;
}
/*Main Section*/
.info {
	display:flex;
	align-content: center;
	justify-content: space-evenly;
	width:95%;
}

.left{
	width:40%;
	padding:1%;}

.right{
	width:50%;
	display: flex;
	justify-content: center;
}

.t-bio{
	display:flex;
	flex-direction:column;
	width:60%;
	justify-content: flex-end;
	}

.t-bio * {
	padding:2%
}

.t-bio a {
	width: 30%;
	text-align:center;
	text-decoration:none;
	background-color: honeydew;
	border: 1px solid black;
}

.main{
	display:flex;
	justify-content:center;
	align-items: center;
}
.img-gallery{
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width:90%;
}
.img-caption{
	display:flex;
	flex-flow: column wrap;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding:2%;
	width:25%;
}

footer {
	display: flex;
	flex-direction: column;
	background-color: grey;
	align-items: center;
}
.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact {
	font-size:4rem;
	padding: 5%;
}

.linkedIn {
width:9%;
}